body {
    margin: 0;
    background-color: #1F2937;
    color: white;
}

span {
    color: #4ADF86;
}

hr {
   background-color: #2F3E53;
   border: none;
   height: 1px;
}

#container {
    margin: 100px 50px;
}

.password-holder {
    width: 210px;
    height: 20px;
    background-color: #273549;
    border-radius: 5px;
    text-align: center;
    color: #4ADF86;
    padding: 10px 0px;
}

#password-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px; 
}

button {
    background: #10B981;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 50px 0px 30px 0px;
}
